.container {
    display: grid;
    grid-template-columns: auto auto auto auto;
   gap: 20px;
}
.container >div{
    /* border: 2px solid red; */
   padding: 60px;
   text-align: center;
   background-color: grey;
   
}

.box11{
    grid-area: 1/1/3/3;
}
.box6{
   grid-column: 1/3;
}
.box71{
    grid-column: 3/5;
 }